<div class="class">
        <h2>Meu Formulário</h2>
    <label for="">Como nos encontrou?
        <br><select>
            <option value="">Google</option>
            <option value="">Facebook</option>
            <option value="">Twitter</option>
            <option value="">Instagram</option>
            <option value="">Reddit</option>
            <option value="">Youtube</option>
            <option value="">Vimeo</option>
            <option value="">Outros</option>
        
        </select>/
    </label>
</div>