*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 500px;
    
}
a{
    color: green;
}
.class{
    
    border-bottom: 1px solid red;
    padding: 2em;
    margin-bottom: 1em;

}